@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

:root {
  --body-bg: #5c829b;
  --text-color: #086df2;
  --text-white: #fff;
  --calc-btn-color: #2f2d2f;
  --calc-bg: rgb(19, 19, 20);
}
.dark {
  --calc-res-color: #fff;
  --calc-bg: #450707;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--body-bg);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

button {
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

@media only screen and(max-width:800px) {
  body {
    display: unset;
    padding-top: 0;
  }
}
